@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

$primary: #2d2d30
$family-sans-serif: "Nunito", sans-serif;

$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

// @tailwind base
// @tailwind components
// @tailwind utilities

// @import "~bulma/sass/utilities/_all.sass"
// @import "~bulma/sass/base/_all.sass"
// @import "~bulma/sass/elements/button.sass"
// @import "~bulma/sass/elements/container.sass"
// @import "~bulma/sass/elements/title.sass"
// @import "~bulma/sass/form/_all.sass"
// @import "~bulma/sass/components/navbar.sass"
// @import "~bulma/sass/layout/hero.sass"
// @import "~bulma/sass/layout/section.sass"

body
  margin: 0
  font-family: 'FuraCode Nerd Font', 'Sukhumvit Set', sans-serif
  // overflow: hidden

*
  box-sizing: border-box
